<p id="notice"><%= notice %></p>

<p>
  <strong>Query string:</strong>
  <%= @search_query.query_string %>
</p>

<p>
  <strong>Query response:</strong>
  <%= @search_query.query_response %>
</p>

<%= link_to 'Edit', edit_search_query_path(@search_query) %> |
<%= link_to 'Back', search_queries_path %>
